@font-face{
    font-family: 'Circular';

}

body{
    font-family: 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-light{
    height: 70px;
    background-color: #F7F7F7;
    padding-left: 10%;
    padding-right: 10%;
}
.location-field{
    margin-left: 20px;
    background-color: #fff;
    border-color: transparent;
    -moz-box-shadow:    1px 1px 10px 1px rgba(122, 122, 122, 0.15);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(122, 122, 122, 0.15);
    box-shadow:         1px 1px 10px 1px rgba(122, 122, 122, 0.15);
    border-radius: 20px;
    font-size: 14px;
    color: #414141;
    padding-left: 45px;
}
#location-field-a{
    width: 400px;
    height: 40px;
    background: url(../img/location-a.svg) no-repeat #fff 10px;
    background-size: 25px;
}

#location-field-b{
    margin-left: 10px; 
    width: 400px;
    height: 40px;
    background: url(../img/location-b.svg) no-repeat #fff 10px;
    background-size: 25px;
}

.btn-custom{
    background-color: transparent;
    font-size: 23px;
    color: #25C2E1;
}

.btn-search{
    margin-left: 10px;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    background-color: #25C2E1;
    color: #fff; 
    font-weight: bold;
    -moz-box-shadow:    1px 1px 10px 1px rgba(10, 123, 147, 0.15);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(10, 123, 147, 0.15);
    box-shadow:         1px 1px 10px 1px rgba(10, 123, 147, 0.15);
}

html, body, .map-canvas{
    height: 100%;
    width: 100%;
}

.footer{
    background-color: #F7F7F7;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-logo{
    width: 23%;
}

.footer-menu{
    text-align: center;
    padding-top: 20px;  
    list-style-type: none;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;

}

.footer-menu li{
    float: left;
    margin: 15px 15px 15px 15px; 
}

.footer-menu li a{
    display: block;
    font-size: 13px;
    color: #757575;
    text-decoration: none;
}

.footer-menu li a:hover{
    color: #b4b4b4;
}

.copyright{
    font-size: 13px;
    color: #C0C0C0;
}

#red-heart{
    color: #FF3C3C;
}